#venue-info .venue-image {
  width: 100%; }

#venue-info h2 {
  margin-top: 0px; }

#admin-page {
  padding-top: 10px; }

#login-page {
  margin-top: 70px; }
  #login-page .title {
    margin-bottom: 40px;
    text-transform: uppercase;
    font-size: 1.5em; }

.wedding-col {
  padding-top: 10px;
  padding-bottom: 10px; }

.direction-img {
  display: block;
  margin: 0 auto;
  max-width: 300px; }

#rsvp-container {
  margin-top: 50px; }

table tr.highlight {
  -webkit-transition: background 0.5s ease;
  -moz-transition: background 0.5s ease;
  -ms-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  transition: background 0.5s ease;
  background: yellow !important; }

.flash-container {
  width: 95%;
  position: fixed; }
  .flash-container .alert {
    -webkit-box-shadow: 4px 4px 14px -1px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 4px 4px 14px -1px rgba(0, 0, 0, 0.36);
    box-shadow: 4px 4px 14px -1px rgba(0, 0, 0, 0.36); }
