<div class="row">
  <div class="col-sm-6">
    <h5>Standard Room</h5>
    <ul>
      <li>One night: <strong>£135</strong></li>
      <li>Two nights: <strong>£130</strong> per night</li>
    </ul>
  </div>
  <div class="col-sm-6">
    <h5>Garden view room</h5>
    <ul>
      <li>One night: <strong>£150</strong></li>
      <li>Two nights: <strong>£145</strong> per night</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <h5>Family rooms <small>(with up to two children)</small></h5>
    <ul>
      <li>One night: <strong>£170</strong></li>
      <li>Two nights: <strong>£165</strong> per night</li>
    </ul>
  </div>
  <div class="col-sm-6">
    <h5>Superior rooms</h5>
    <ul>
      <li>One night: <strong>£170</strong></li>
      <li>Two nights: <strong>£165</strong> per night</li>
    </ul>
  </div>
</div>
