#venue-info {

    .venue-image {
        width: 100%;
    }

    h2 {
        margin-top: 0px;
    }

}

#admin-page {
  padding-top: 10px;
}

#login-page {
  .title {
    margin-bottom: 50px;
    text-transform: uppercase;
  }
}

.wedding-col {
  padding-top: 10px;
  padding-bottom: 10px;
}

.direction-img {
    display: block;
    margin: 0 auto;
    max-width: 300px;
}

.flash-container {
  width: 95%;
  position: fixed;

  .alert {
    -webkit-box-shadow: 4px 4px 14px -1px rgba(0,0,0,0.36);
    -moz-box-shadow: 4px 4px 14px -1px rgba(0,0,0,0.36);
    box-shadow: 4px 4px 14px -1px rgba(0,0,0,0.36);
  }
}
