$header-height: 50px;

@mixin clear-header() {
  margin-top: $header-height;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;

}

#venue-info {

    .venue-image {
        width: 100%;
    }

    h2 {
        margin-top: 0px;
    }

}

.wedding-col {
  padding-top: 10px;
  padding-bottom: 10px;
}

.direction-img {
    display: block;
    margin: 0 auto;
    max-width: 300px;
}

#rsvp-container {
  @include clear-header();
}

table {
  tr.highlight {
    @include transition(background .5s ease)
    background: yellow!important;
  }
}
